:root {
    --orange: #f4dc65;
    --blackshadow: #bbacaf;
    --green: #0f7c35;
    --darkblue: #290dc7;
    --white: #ffffff;
    --black: #000000;
  }
  
  * {
    font-family: "Fira Sans", Helvetica, sans-serif;
    font-size: 1em;
    scroll-behavior: smooth;
  }
  
  /* Element selectors */
  
  body {
    background-color: var(--orange);
    line-height: 1.1em;
  }
  
  header,
  footer {
    background-color: var(--green);
    color: var(--white);
    width: 100%;
  }
  
  header {
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: space-between;
    z-index: 1;
  }
  
  header h1 {
    font-size: 250%;
  }
  
  nav a {
    color: var(--white);
    font-size: 150%;
    margin-left: 25px;
    padding: 22px 15px;
  }
  
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px;
  }
  
  main {
    background-color: var(--white);
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 20px 40px 15px;
    margin-top: 70px;
  }
  
  section {
    margin-bottom: 10px;
    padding: 15px;
  }
  
  p {
    line-height: 1.6em;
    font-size: 100%;
    margin-left: 5px;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* Class selectors */
  
  .flex-and-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  .text-center {
    text-align: center;
  }
  
  .nav-link{
    list-style: none;
    display: inline;
  }
  
  .nav-link a,
  .nav-link a:visited {
    color: var(--white);
  }
  
  .section-heading {
    font-size: 200%;
    width: 100%;
    background-color: var(--blackshadow);
    border: 3px solid var(--mistyrose);
    padding: 15px;
    margin-bottom: 15px;
    color: white;
  }
  
  .profile-image {
      object-fit: contain;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  
  .card {
    flex-basis: 48%;
    /* background-color: var(--white); */
    margin-bottom: 20px;
    height: 400px;
    color: var(--black);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
  }
  
  .card h3 {
    background-color: var(--blackshadow);
    width: 50%;
    padding: 10px;
    font-size: 125%;
  }
  
  .card:visited,
  .contact-link,
  .contact-link:visited {
    color: var(--black);
  }
  
  .card:hover {
    opacity: 1;
    box-shadow: 0.5em 0.5em 0.3em var(--blackshadow);
    color: var(--white);
  }
  
  .card:active {
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .first-project {
    flex-basis: 98%;
    background-image: url(./images/horiseon.jpg);
  }
  
  .second-project {
    background-image: url(./images/carbuncle-02.jpg);
  }
  
  .third-project {
    background-image: url(./images/mirage-show.png);
  }
  
  .fourth-project {
    background-image: url(./images/kitty.jpg);
  }
  
  .fifth-project {
    background-image: url(./images/pikachu.png);
  }
  
  .first-project h3 {
    width: 25%;
  }
  
  .contact-list{
      margin: 0 auto;
      width: 100%;
  }
  
  .contact-link{
      flex-basis: 22%;
      background-color: var(--mistyrose);
      border: 1px solid var(--blackshadow);
      padding: 10px;
      font-size: 110%;
  }
  
  .around-space{
      justify-content: space-around;
  }
  
  
  nav a:hover,
  .contact-link:hover{
      background-color: var(--blackshadow);
      color: var(--white);
    }
  
  
  
  /* ID Selectors */
  
  #about-me,
  #contact{
      background-color: var(--lightred);
  }
  
  #about-me {
    justify-content: space-between;
  }
  
  #about-me .img-class {
    flex: 0 0 33%;
    display: flex;
    justify-content: center;
  }
  
  
  #about-me .about-class {
    flex: 0 0 66%;
  }
  
  #projects {
    background-color: var(--mistyrose);
  }
  
  #projects h2 {
    border: 3px solid var(--lightred);
  }
  
  
  
  
  
  /* Media Queries */
  @media screen and (max-width: 992px) {
    #about-me .img-class {
      flex: 0 0 100%;
      margin-bottom: 10px;
    }
  
    #about-me .about-class {
      flex: 0 0 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    #about-me .img-class {
      flex: 0 0 100%;
      margin-bottom: 10px;
    }
  
    #about-me .about-class {
      flex: 0 0 100%;
    }
  
    .card {
      flex-basis: 100%;
    }
  
    .contact-link{
      flex-basis: 48%;
      margin-bottom: 10px;
    }
  
}